@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&display=swap');

@layer base{
  body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
  }

  h1{
    @apply text-5xl font-semibold leading-snug;
  }
  
  h3{
    @apply text-2xl leading-normal md:text-4xl;
  }

  h4{
    @apply md:text-xl font-semibold;
  }

  p{
    @apply text-lg;
  }
} 
